# vscode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Exclude sourcemaps
*.map

# obsidian
data.json

# Build outputs
styles.css

# Environment variables
.env

# Logs
*.log

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Build
main.js
